.logo {
    display: block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;

    @media screen and (min-width: 768px) {
        margin-right: 120px;
    }
    @media screen and (min-width: 1158px) {
        margin-right: 76px;
}
}

.logo-accent {
    color: #2e2f42;
}

.footer .logo {
    margin-bottom: 16px;
    
    @media screen and (max-width: 768px) {text-align: center;} 
    
}

.footer .logo-accent {
   color: #f4f4fd; 
}